*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { animation: Transition 0.5s; }
#content { animation: Transition 0.9s; }

@keyframes Transition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#ontopsticky {
    box-shadow: 2px 1px 5px;
    background-color: #fafad2;
    z-index: 1;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}


#header {
    width: 100%;
    padding: 10px 5px;
}
#header #header-left {
    float: left;
}
#header #header-left #header-logo-0 {
    height: 40px;
    visibility: hidden;
    display: none;
}
#header #header-left #header-logo-1 {
    height: 45px;
}
#header #header-right {
    float: right;
}
#header #header-right a {
    text-align: right;
}


#thenavbar {
    width: 100%;
    border-top-style: solid;
    border-width: 1px;
}
.navbar { padding: 0; margin: 0; }
.navbar > button { margin: 3px; padding: 0; height: 40px; width: 40px; background: #eeeed1; }
.navbar > button > span { height: 30px; width: 30px; }
.navbar-nav > .nav-item > .nav-link { color: black; margin: 1px; }
.navbar-nav > .nav-item:hover { background: chocolate; }
.navbar-nav > .nav-item > .nav-link:hover { color: #fafad2; }
.navbar-nav > .nav-item.active { background: chocolate; }
.navbar-nav > .nav-item.active > .nav-link { color: #fafad2; font-weight: bold; }
.navbar-nav > .nav-item.dropdown > .dropdown-menu { background-color: #fafad2; }
.navbar-nav > .nav-item.dropdown > .dropdown-menu > .dropdown-item:hover { background-color: chocolate; color: #fafad2; }
.navbar-nav > .nav-item.dropdown > .dropdown-menu > .dropdown-item.active { background-color: chocolate; color: #fafad2; }
.navbar > .navbar-collapse > .form-inline > input { border: 1px solid #8b8b7a; background: #ffffe0; padding: 0 5px; }
.navbar > .navbar-collapse > .form-inline > button { border: 1px solid #8b8b7a; background: #eeeed1; color: black; }


#content {
    background: #ffffe0;
}


#home-content {
    width: 100%;
    padding: 5px 5px 0px 5px;
}
#home-content #home-content-img-center {
    padding: 1px 2px;
    display: flex;
    justify-content: center;
}
#home-content #home-content-img-center img {
    border: 1px solid #8b864e;
    border-radius: 5px;
    width: 100%;
}
#home-content #home-content-img-side {
    padding: 1px;
}
#home-content-img-left, #home-content-img-right {
    padding: 0px 1px;
    display: flex;
    justify-content: center;
}
#home-content #home-content-img-side img {
    border: 1px solid #8b864e;
    border-radius: 5px;
    width: 100%;
}
#home-content #home-content-link {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#home-content #home-content-link a {
    border: 1px solid #8b6914;
    color: #ffffe0;
    background-color: #cd9b1d;
    width: 50%;
}
#home-content #home-content-link a:hover {
    background-color: #8b6914;
}


#product-container {
    padding-top: 12px;
    padding-bottom: 12px;
}
#product {
    margin: 3px;
}
#product > #product-img {
    display: flex;
    justify-content: center;
    width: 100%;;
}
#product > #product-body {
    padding: 5px;
}
#product > #product-body > #product-name {
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: larger;
    min-height: 2.5rem;
}
#product > #product-body > #product-price {
    color: darkgreen;
    font-weight: bold;
    font-size: large;
}
#product > #product-body > #product-description {
    margin-top: 5px;
    color: #525252;
    height: 4rem;
    overflow-y: auto;
}
#product > #product-body > #product-add-btn {
    float: right;
}


#footer #footer-content {
    padding: 20px 100px;
    width: 100%;
    color: white;
    background-color: #8b864e;        
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    font-size: 15px;
}
#footer #footer-content #footer-logo {
    height: 30px;
    margin-bottom: 10px;
}
#footer #footer-bottom {
    padding: 10px 0;
    width:100%;
    color: white;
    background-color: #6a623e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
}


#cart-btn {
    width: 100%;
    padding: 7px 15px;
    display: flex;
    justify-content: center;
    background: white;
    position: sticky;
    bottom: 0px;
}
#cart-btn a {
    width: 100%;
    background-color: #008b45;
    color: white;
}
#cart-btn a:hover {
    background-color: #006432;
}
#cart-btn #cart-btn-totalQuantity {
    font-weight: bold;
    font-size: smaller;
    padding: 1px 3px;
    background-color: red;
    border-radius: 5px;
    position: relative;
    bottom:3px;
}


#cart-site-container {
    padding-top: 12px;
    padding-bottom: 12px;
}
#cart-site-container #cart-site-title {
    padding-bottom: 7px;
    border-bottom: 1px solid #8b864e;
    color: #8b864e;
}
#cart-site-container #cart-site-title p {
    font-weight: bold;
    font-size: 200%;
}
#cart-site-container #cart-site-table {
    margin-top: 34px;
}
#cart-site-container #cart-site-table td {
    border-color: darkkhaki;
}
#cart-site-table #cart-site-tbody #cart-site-tbody-img {
    width: 10.5rem;
    height: 7.0rem;
}
#cart-site-table #cart-site-tbody #cart-site-tbody-name {
    margin-bottom: 0px;
    color: darkslateblue;
    font-weight: bold;
    font-size: 135%;
}
#cart-site-table #cart-site-tbody #cart-site-tbody-price {
    margin-bottom: 11px;
}
#cart-site-table #cart-site-tbody #cart-site-tbody-price>span {
    color: orangered;
    font-weight: bold;
    font-size: 86%;
    text-decoration: underline;
}
#cart-site-table #cart-site-tbody #cart-site-tbody-qtt-label {
    margin-bottom: 5px;
}
#cart-site-table #cart-site-tbody #cart-site-tbody-total {
    margin-top: 12px;
    margin-bottom: 11px;
}
#cart-site-table #cart-site-tbody #cart-site-tbody-total>span {
    color: darkgreen;
    font-weight:bold;
}
#cart-site-table #cart-site-tbody #cart-site-tbody-note {
    font-size: 86%;
    margin-bottom: 3px;
}
#cart-site-table #cart-site-tbody #cart-site-tbody-note>span {
    font-weight: bold;
}
#cart-site-container #cart-site-opt {
    padding-bottom: 15px;
}
#cart-site-container #cart-site-opt #cart-site-opt-continue {
    border: 1px solid #8b8b7a;
    color: #8b864e;
    font-weight:bold;
}
#cart-site-container #cart-site-opt #cart-site-opt-continue:hover {
    background-color: #8b864e;
    color: #ffffe0;
}
#cart-site-box {
    background: #f5f5dc;
    padding: 5px;
}
#cart-site-box #cart-site-box-title {
    padding: 15px;
}
#cart-site-box #cart-site-box-row {
    padding: 15px;
}
#cart-site-box-row #cart-site-box-left {
    font-weight: bold;
}
#cart-site-box-row #cart-site-box-right {
    text-align: right;
    font-weight: bold;
    color: #006400;
}
#cart-site-box-proceed {
    padding: 15px;
}
#cart-site-box-proceed a {
    width: 100%;
    background-color: green;
    color: #fff8dc;
    font-weight:bold;
}
#cart-site-box-proceed a:hover {
    background-color: #005500;
}


#payment-container {
    padding-top: 12px;
    padding-bottom: 12px;
}
#payment-container #payment-title {
    padding-bottom: 7px;
    border-bottom: 1px solid #8b864e;
    color: #8b864e;
}
#payment-container #payment-title p {
    font-weight: bold;
    font-size: 200%;
}
#payment-container #payment-form {
    margin-top: 34px;
}
#payment-container #payment-form #payment-form-left {
    padding-right: 12px;
}
#payment-form-left input, #payment-form-left select {
    background-color: #ffffea;
}
#payment-form-left #payment-form-opt-return a {
    margin-bottom: 12px;
    border: 1px solid #8b8b7a;
    color: #8b864e;
    font-weight:bold;
}
#payment-form-left #payment-form-opt-return a:hover {
    background-color: #8b864e;
    color: #ffffe0;
}
#payment-container #payment-form #payment-form-right {
    background-color: #f3f4bc;
    padding: 19px 12px;
}
#payment-form-right #payment-form-right-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color: darkgreen;
    padding-bottom: 16px;
    margin-bottom: 0px;
    border-bottom: 1px solid darkolivegreen;
}
#payment-form-right #payment-form-right-table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 12px;
}
#payment-form-right #payment-form-right-table td, #payment-form-right-table th {
    padding: 12px 5px;
}
#payment-form-right #payment-form-right-table-total {
    border-top: 1px solid darkolivegreen;
    border-bottom: 1px solid darkolivegreen;
}
#payment-form-right #payment-form-right-submit button {
    background-color: seagreen;
    font-weight: bold;
    color: white;
    width: 100%;
}
#payment-form-right #payment-form-right-submit button:hover {
    background-color: #005522
}


#completed-container {
    padding-top: 12px;
    padding-bottom: 12px;
}
#completed-container #completed-message {
    padding: 15px 12px;
    background-color: #b3ffb3;
    color: #003000;
}
#completed-container #completed-message #completed-message-main {
    font-weight: bold;
    font-size: larger;
}
#completed-container #completed-message #completed-message-body {
    font-size: large;
}
#completed-container #completed-message #completed-message-code {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #005721;
    color: white;
}


#track-container {
    padding: 30px 12px;
}
#track-form {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px 19px;
}
#track-form .form-control { 
    background-color: #ffffea;
}
#track-table {
    margin-top: 15px;
}



/* sm */
@media screen and (max-width: 767.89px) {
    #home-content {
        padding: 3px 3px 0px 3px;
    }

    #product > #product-body > #product-name {
        font-size: large;
        min-height: 2rem;
    }
    #product > #product-body > #product-price {
        font-size: medium;
    }
    #product > #product-body > #product-description {
        font-size: small;
    }

    .navbar-nav > .nav-item > .nav-link {
        margin-left: 5px
    }
    .navbar > .navbar-collapse > .form-inline {
        background-color: wheat;
        padding: 8px 0px;
    }
    .navbar > .navbar-collapse > .form-inline > input {
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar > .navbar-collapse > .form-inline > button {
        margin-left: 5px
    }

    #footer #footer-content {
        padding: 10px 50px;
    }
    #footer #footer-content #footer-logo {
        height: 27px;
        margin-bottom: 5px;
    }
    #footer #footer-bottom {
        font-size: 90%;
    }
}

/* xs */
@media screen and (max-width: 575.89px) {
    #header #header-left #header-logo-0 {
        visibility: visible;
        display: block;
    }
    #header #header-left #header-logo-1 {
        visibility: hidden;
        display: none;
    }
    #header #header-right a {
        float: none;
        display: block;
    }

    .navbar-nav > .nav-item > .nav-link {
        margin-left: 5px
    }
    .navbar > .navbar-collapse > .form-inline > input {
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar > .navbar-collapse > .form-inline > button {
        margin-left: 5px
    }

    #home-content {
        padding: 1px 1px 0px 1px;
    }

    #cart-btn #cart-btn-title {
        display: none;
    }

    #cart-site-table #cart-site-tbody #cart-site-tbody-img {
        width: 5.0rem;
        height: 3.2rem;
    }
}