*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { animation: Transition 0.5s; }
#content { animation: Transition 0.9s; }

@keyframes Transition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#ontopsticky {
    box-shadow: 2px 1px 5px;
    background-color: #fafad2;
    z-index: 1;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


#header {
    width: 100%;
    padding: 10px 5px;
}
#header #header-left {
    float: left;
}
#header #header-left #header-logo-0 {
    height: 40px;
    visibility: hidden;
    display: none;
}
#header #header-left #header-logo-1 {
    height: 45px;
}
#header #header-right {
    float: right;
}
#header #header-right a {
    text-align: right;
}


#thenavbar {
    width: 100%;
    border-top-style: solid;
    border-width: 1px;
}
.navbar { padding: 0; margin: 0; }
.navbar > button { margin: 3px; padding: 0; height: 40px; width: 40px; background: #eeeed1; }
.navbar > button > span { height: 30px; width: 30px; }
.navbar-nav > .nav-item > .nav-link { color: black; margin: 1px; }
.navbar-nav > .nav-item:hover { background: chocolate; }
.navbar-nav > .nav-item > .nav-link:hover { color: #fafad2; }
.navbar-nav > .nav-item.active { background: chocolate; }
.navbar-nav > .nav-item.active > .nav-link { color: #fafad2; font-weight: bold; }
.navbar > .navbar-collapse > .form-inline > input { border: 1px solid #8b8b7a; background: #ffffe0; padding: 0 5px; }
.navbar > .navbar-collapse > .form-inline > button { border: 1px solid #8b8b7a; background: #eeeed1; color: black; }


#content {
    background: #ffffe0;
}


#home-content {
    width: 100%;
    padding: 5px 5px 0px 5px;
}
#home-content #home-content-img-center {
    padding: 1px 2px;
    display: flex;
    justify-content: center;
}
#home-content #home-content-img-center img {
    border: 1px solid #8b864e;
    border-radius: 5px;
    width: 100%;
}
#home-content #home-content-img-side {
    padding: 1px;
}
#home-content-img-left, #home-content-img-right {
    padding: 0px 1px;
    display: flex;
    justify-content: center;
}
#home-content #home-content-img-side img {
    border: 1px solid #8b864e;
    border-radius: 5px;
    width: 100%;
}
#home-content #home-content-link {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#home-content #home-content-link a {
    border: 1px solid #8b6914;
    color: #ffffe0;
    background: #cd9b1d;
    width: 50%;
}


#product-container {
    padding-top: 12px;
    padding-bottom: 12px;
}
#product {
    margin: 3px;
}
#product > #product-img {
    display: flex;
    justify-content: center;
    width: 100%;;
}
#product > #product-body {
    padding: 5px;
}
#product > #product-body > #product-name {
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: larger;
    min-height: 2.5rem;
}
#product > #product-body > #product-price {
    color: darkgreen;
    font-weight: bold;
    font-size: large;
}
#product > #product-body > #product-description {
    margin-top: 5px;
    color: #525252;
    height: 4rem;
    overflow-y: auto;
}
#product > #product-body > #product-add-btn {
    float: right;
}


#footer #footer-content {
    padding: 20px 100px;
    width: 100%;
    color: white;
    background-color: #8b864e;        
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    font-size: 15px;
}
#footer #footer-content #footer-logo {
    height: 30px;
    margin-bottom: 10px;
}
#footer #footer-bottom {
    padding: 10px 0;
    width:100%;
    color: white;
    background-color: #6a623e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
}


#cart-btn {
    width: 100%;
    padding: 7px 15px;
    display: flex;
    justify-content: center;
    background: white;
    position: sticky;
    bottom: 0px;
}
#cart-btn a {
    width: 100%;
    background-color: #008b45;
    color: white;
}
#cart-btn #cart-btn-totalQuantity {
    font-weight: bold;
    font-size: smaller;
    padding: 1px 3px;
    background-color: red;
    border-radius: 5px;
    position: relative;
    bottom:3px;
}


#cart-site-container {
    padding-top: 15px;
    padding-bottom: 15px;
}
#cart-site-container #cart-site-title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: darkgoldenrod;
}
#cart-site-table #cart-site-thead {
    background: #eeeed1;
}
#cart-site-table #cart-site-thead tr {
    font-size: large;
}
#cart-site-table #cart-site-tbody-price {
    text-align: right;
}
#cart-site-table #cart-site-tbody-total {
    text-align: right;
    font-weight: bold;
}
#cart-site-container #cart-site-cont-shp {
    padding-bottom: 15px;
}
#cart-site-container #cart-site-cont-shp a {
    background: #eee8cd;
    color: #8b8878;
    font-weight:bold;
}
#cart-site-box {
    background: #f5f5dc;
    padding: 5px;
}
#cart-site-box #cart-site-box-title {
    padding: 15px;
}
#cart-site-box #cart-site-box-row {
    padding: 15px;
}
#cart-site-box-row #cart-site-box-left {
    font-weight: bold;
}
#cart-site-box-row #cart-site-box-right {
    text-align: right;
    font-weight: bold;
    color: #006400;
}
#cart-site-box-proceed {
    padding: 15px;
}
#cart-site-box-proceed a {
    width: 100%;
    background: green;
    color: #fff8dc;
    font-weight:bold;
}



/* sm */
@media screen and (max-width: 767.89px) {
    #home-content {
        padding: 3px 3px 0px 3px;
    }

    #product > #product-body > #product-name {
        font-size: large;
        min-height: 2rem;
    }
    #product > #product-body > #product-price {
        font-size: medium;
    }
    #product > #product-body > #product-description {
        font-size: small;
    }

    .navbar-nav > .nav-item > .nav-link {
        margin-left: 5px
    }
    .navbar > .navbar-collapse > .form-inline > input {
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar > .navbar-collapse > .form-inline > button {
        margin-left: 5px
    }

    #footer #footer-content {
        padding: 10px 50px;
    }
    #footer #footer-content #footer-logo {
        height: 27px;
        margin-bottom: 5px;
    }
    #footer #footer-bottom {
        font-size: 90%;
    }
}

/* xs */
@media screen and (max-width: 575.89px) {
    #header #header-left #header-logo-0 {
        visibility: visible;
        display: block;
    }
    #header #header-left #header-logo-1 {
        visibility: hidden;
        display: none;
    }
    #header #header-right a {
        float: none;
        display: block;
    }

    .navbar-nav > .nav-item > .nav-link {
        margin-left: 5px
    }
    .navbar > .navbar-collapse > .form-inline > input {
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar > .navbar-collapse > .form-inline > button {
        margin-left: 5px
    }

    #home-content {
        padding: 1px 1px 0px 1px;
    }

    #cart-btn #cart-btn-title {
        display: none;
    }
}