*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#ontopsticky {
    box-shadow: 2px 1px 5px;
    background-color: #fafad2;
    z-index: 1;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


#header {
    width: 100%;
    padding: 10px 5px;
}
#header #header-left {
    float: left;
}
#header #header-left #header-logo-0 {
    height: 40px;
    visibility: hidden;
    display: none;
}
#header #header-left #header-logo-1 {
    height: 45px;
}
#header #header-right {
    float: right;
}
#header #header-right a {
    text-align: right;
}


#thenavbar {
    width: 100%;
    border-top-style: solid;
    border-width: 1px;
}
.navbar { padding: 0; margin: 0; }
.navbar > button { margin: 3px; padding: 0; height: 40px; width: 40px; background: #eeeed1; }
.navbar > button > span { height: 30px; width: 30px; }
.navbar-nav > .nav-item > .nav-link { color: black; margin: 1px; }
.navbar-nav > .nav-item:hover { background: chocolate; }
.navbar-nav > .nav-item > .nav-link:hover { color: #fafad2; }
.navbar-nav > .nav-item.active { background: chocolate; }
.navbar-nav > .nav-item.active > .nav-link { color: #fafad2; font-weight: bold; }


#content {
    background: #ffffe0;
    padding: 5px 5px;
}
#product {
    margin: 3px;
}
#product > #product-img {
    display: flex;
    justify-content: center;
    width: 100%;;
}
#product > #product-body {
    padding: 5px;
}
#product > #product-body > #product-name {
    margin-bottom: 5px;
    color: red;
    font-weight: bold;
    font-size: large;
    min-height: 3.4rem;
}
#product > #product-body > #product-price {
    color: blue;
    font-weight: bold;
}
#product > #product-body > #product-description {
    margin-top: 5px;
    color: black;
    height: 4rem;
    overflow-y: auto;
}
#product > #product-body > #product-add-btn {
    float: right;
}


#footer #footer-content {
    padding: 20px 100px;
    width: 100%;
    color: white;
    background-color: #8b864e;        
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    font-size: 15px;
}
#footer #footer-content #footer-logo {
    height: 30px;
    margin-bottom: 10px;
}
#footer #footer-bottom {
    padding: 10px 0;
    width:100%;
    color: white;
    background-color: #6a623e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
}


#cart-btn {
    width: 100%;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    background: white;
    position: sticky;
    bottom: 0px;
}
#cart-btn a {
    width: 100%;
    background-color: #008b45;
    color: white;
}
#cart-btn #cart-totalQuantity {
    font-weight: bold;
    font-size: smaller;
    padding: 1px 3px;
    background-color: red;
    border-radius: 5px;
    position: relative;
    bottom:3px;
}



/* sm */
@media screen and (max-width: 767.89px) {
    #content {
        padding: 5px 4px;
    }
    #product > #product-body > #product-name {
        font-size: medium;
        min-height: 3rem;
    }

    #footer #footer-content {
        padding: 10px 50px;
    }
    #footer #footer-content #footer-logo {
        height: 27px;
        margin-bottom: 5px;
    }
    #footer #footer-bottom {
        font-size: 90%;
    }
}

/* xs */
@media screen and (max-width: 575.89px) {
    #header #header-left #header-logo-0 {
        visibility: visible;
        display: block;
    }
    #header #header-left #header-logo-1 {
        visibility: hidden;
        display: none;
    }
    #header #header-right a {
        float: none;
        display: block;
    }

    .navbar-nav > .nav-item > .nav-link {
        margin-left: 5px
    }

    #content {
        padding: 4px 3px;
    }

    #cart-btn #cart-title {
        display: none;
    }
}